venv/
__pycache__/
*.pyc
.DS_Store
note_to_self/
responses/
schedules/
.vscode/
logs/
event_time/



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
venv/
.env/
.env*

# Editor/temp files
.DS_Store
*.swp
.idea/
.vscode/
Thumbs.db
*.log
EOF